
.Main{
	font-size:2rem;
	
	
	
	background-image: url('../../images/library.jpg')  ;
         width:calc(100vw -80px);
	 height:100vh;
background-repeat:no-repeat;
background-size:cover;
color:white;
padding:0px;
margin:0px;
}

.show{
	display:inline-block;
}
.hide{
	display:none;
}
