.About {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  width: 100vw; }

.AboutContainer {
  padding-top: 16px;
  width: 80vw;
  display: flex;
  justify-content: space-between; }

.Author {
  width: 40vw;
  padding-right: 8px; }

.Description {
  width: 40vw; }
