.navbar {
  height: 60px;
  padding: 0px;
  margin: 0px;
  font-size: 2rem; }

.navbar-brand {
  font-size: 2rem; }

body {
  padding-top: 60px; }

.dropdown-menu {
  font-size: 2rem; }

@media (max-width: 767px) {
  body {
    padding-top: 280px; }
  .navbar {
    height: 280px; } }
