@import '../../variables.scss';
.navbar{
	height:$smallnav-size;
	padding:0px;
	margin:0px;
	font-size:2rem;
}
.navbar-brand{
	font-size:2rem;
}
body {
	padding-top: $smallnav-size;
}
.dropdown-menu
{
	font-size:2rem;
}

@media (max-width:767px){
	body{
		padding-top:$largenav-size;
	   }
	   .navbar{
		height:$largenav-size;
	}
}


