.Settings {
  font-size: 2rem; }

.FontFamilySelector {
  padding-top: 32px;
  padding-left: 32px; }

.FontFamilySelectorLabel {
  padding-right: 16px; }

.VoiceSelectorLabel {
  padding-right: 16px; }
